{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<!-- About-->
    <div id="about" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container first">
                        <h2>{% trans "A word about wildfires" %}</h2>
                        <p>{% lorem 1 b random %}</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container second">
                        <div class="time">2019 - PRESENT</div>
                        <h6>Freelance Web Developer</h6>
                        <p>Working happily on my own web projects</p>
                        <div class="time">2018 - 2019</div>
                        <h6>Lead Web Developer</h6>
                        <p>Beautiful project for a major digital agency</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container third">
                        <div class="time">2017 - 2018</div>
                        <h6>Senior Web Designer</h6>
                        <p>Inhouse web designer for ecommerce firm</p>
                        <div class="time">2016 - 2017</div>
                        <h6>Junior Web Designer</h6>
                        <p>Junior web designer for small web agency</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of about -->

    <!-- Services -->
    <div id="services" class="basic-2">
        <div class="container">
            {% for hotel in hotels %}
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">{{hotel.name}}</h2>
                        <p class="p-heading">Web design and development have been my bread and butter for more than 5 years. During that time I've discovered that I can help startups and companies with the following services</p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-box">
                            <i class="far fa-gem"></i>
                            <h4>DESIGN</h4>
                            <p>Successful online projects start with good design. It establishes a solid foundation for future development and allows for long term growth</p>
                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <div class="text-box">
                            <i class="fas fa-code"></i>
                            <h4>DEVELOPMENT</h4>
                            <p>I can code my own designs or even use the customer's design as base. My focus is to generate clean code that's well structured for reliability</p>
                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <div class="text-box">
                            <i class="fas fa-tv"></i>
                            <h4>BASIC SEO</h4>
                            <p>i can setup your project to use basic SEO principles which will push your project to the first page on search engines and save you ads money</p>
                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            {% endfor %}
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services -->
    
       
    
{% endblock content %}